.valuteAndCart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;

    position: absolute;
    width: 150px;
    height: 40px;
    right: 2%;
    top: 23px;
}

.downArrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3.5px;
    margin-left: 6px;
    cursor: pointer;
}

.bag {
    width: 35px;
    height: 30px;
    margin-left: 15px;
}


