.cardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 5.3%;
    margin-right: 5.5%;
    justify-content: space-evenly;
    max-width: 2578px;
}

.inputChange {
    position: relative;
    left: 6.3em;
    top: 2em;
    width: 177px;
    height: 25px;
}

.inputChange input {
    height: 25px;
}

.inputChange p {
    position: absolute;
    flex: 0;
    align-items: center;
    top: 3px;
    right: 15px;
    margin: 0;
    cursor: pointer;
}

h2 {
    position: relative;
    top: 10%;
    max-width: 1000px;
    margin: 1em 0 0 4em;
}